.TripDetailsPage h1 {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
}
.trip-dtails-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.trip-form {
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 450px;
  background-color: var(--gray);
}
.trip-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--gray);
}
.btn {
  display: flex;
  justify-content: center;
  height: 20vh;
}
.btn button {
  width: 100px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid var(--gray);
  cursor: pointer;
  background-color: var(--gray);
  color: var(--black);
  font-size: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.error {
  color: rgb(234, 84, 84);
}
.error button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--gray);
  color: var(--black);
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
